{% extends "triple_M/base.html" %}
{% load static %}


{% block header %}
    <div class="login-header">
        <div class="header-logo">
            <a href="#">
                <img class="img-fluid" src="{% static 'triple_M/images/logo.png' %}" alt="Logo-Image"/>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="login-container mt-5">
            <button onclick="window.history.go(-1); return false;" class="btn btn-link nunito font-weight-bold">Go Back</button>
            <div class="card login-card m-auto">
                <div class="card-header">

                    <div class="h4 text-center signika">{{ reg_no }}{{ email }} - Change Password</div>
                </div>
                <div class="card-body nunito font-weight-bold">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group nunito font-weight-bold">
                            <label for="current_password">Current Password</label>
                            {{ form.current_password }}
                        </div>
                        {% if form.new_password.errors %}
                            {% for error in form.new_password.errors %}
                                <div class="text-danger mt-1 h6 font-weight-bold" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <hr>
                        <div class="form-group nunito font-weight-bold">
                            <label for="new_password">New Password</label>
                            {{ form.new_password }}
                        </div>
                        {% if form.new_password.errors %}
                            {% for error in form.new_password.errors %}
                                <div class="text-danger mt-1 h6 font-weight-bold" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <hr>
                        <div class="form-group nunito font-weight-bold">
                            <label for="reenter_new_password">Re Enter New Password</label>
                            {{ form.reenter_new_password }}
                        </div>
                        {% if form.reenter_new_password.errors %}
                            {% for error in form.reenter_new_password.errors %}
                                <div class="text-danger mt-1 h6 font-weight-bold" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <hr class="my-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <div class="dropdown-divider"></div>
                        <a href="#">forgot password?</a>
                        <div class="error">
                            {% if error %}
                                <div class="alert alert-danger mt-1" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}